{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />

    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>
      Consignment
    </title>
       <style>
        /* Highlighted, bold text */
        .alert-message {
            font-weight: bold;
            background-color: yellow;
            padding: 10px;
            border-radius: 5px;
            color: red;
            text-align: center;
            margin-bottom: 15px;
        }
    </style>
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    {% include 'branch_nav.html' %}

<br><br><br>

      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">Add Staff</h1>


          </div>
        </div>
      </div>
    </div>
	<!-- end header -->
<br/><br/>
    <div class="container mt-5">
        <h2>Staff Information Form</h2>

        <form action="/staff" method="POST" enctype="multipart/form-data">
             {% csrf_token %}
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="staffname"> Name:</label>
                    <input type="text" class="form-control" id="staffname" name="staffname" required>
                </div>

                <div class="col-md-6 form-group">
                    <label for="staffPhone">Phone Number:</label>
                    <input type="tel" class="form-control" id="staffPhone" name="staffPhone" required>
                </div>

                <div class="col-md-6 form-group">
                    <label for="staffaddress">Address:</label>
                    <input type="text" class="form-control" id="staffaddress" name="staffaddress" >
                </div>
                <div class="col-md-6 form-group">
                    <label for="aadhar">Aadhar No:</label>
                    <input type="text" class="form-control" id="aadhar" name="aadhar" >
                </div>
                <div class="col-md-6 form-group">
                    <label for="passbookno">Passbook No:</label>
                    <input type="text" class="form-control" id="passbookno" name="passbookno" >
                </div>
            <div class="col-md-3 form-group">
                <label for="passport">Passport photo:</label>
                    <input type="file" class="form-control-file" id="passport" name="passport" accept="passport/*">
            </div>

            <div class="col-md-3 form-group">
                <label for="passbook">Aadhar photo:</label>
                    <input type="file" class="form-control-file" id="passbook" name="passbook" accept="passbook/*">
            </div>
                <br/>
                <div class="col-md-6 form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                </div>

                </br>


            </div>
        </form>
    </div>
<br/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="row mt-5">
          <div class="col-12 text-center">
            <!--
              **==========
              NOTE:
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/
              **==========
            -->

          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.site-footer -->

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>

