{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />

    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>
      Consignment
    </title>

  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    {% include 'index_menu.html' %}
<br><br><br>

      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">Edit Vehicle</h1>


          </div>
        </div>
      </div>
    </div>
	<!-- end header -->
<div class="background-container"></div>
    <div class="content">
    <div id="consignmentForm" class="container">
        <h2 style="font-family: cursive;">Vehicle Branch</h2>
        <form method="post">
            {% csrf_token %}
            <p style="color:red;text-align:center;font-size:22px;font-weight:bold">{{msg}}</p>

            <h3>Edit Vehicle Details:</h3><br>
            <div class="row">
                <div class="col-md-6">
                    <label for="vehicle_number">Vehicle number:</label>
                    <input type="text" id="vehicle_number" name="vehicle_number" value="{{data.vehicle_number}}" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                <label for="rcdate">RC Due Date:</label>
                    <input type="date" value="{{ data.rccardate }}" class="form-control" id="rcdate" name="rcdate">
            </div>
            </div>
        <div class="row">
            <div class="col-md-3">
                <label for="incurencedate">Incurence Due Date:</label>
                    <input type="date" class="form-control" value="{{ data.incurencedate }}" id="incurencedate" name="incurencedate">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="permitdate">Permit Due Date:</label>
                    <input type="date" class="form-control" value="{{ data.permitdate }}" id="permitdate" name="permitdate">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="taxdate">Tax Due Date:</label>
                    <input type="date" class="form-control" value="{{ data.taxdate }}" id="taxdate" name="taxdate">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="emissiondate">Emission Due Date:</label>
                    <input type="date" class="form-control" value="{{ data.emissiondate }}" id="emissiondate" name="emissiondate">
            </div>
        </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>

	<div class="row mt-5">
          <div class="col-12 text-center">
            <!--
              **==========
              NOTE:
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/
              **==========
            -->

          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.site-footer -->

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>

